{% extends 'base.html' %}

{% block title %}
Главная страница
{% endblock %}

{% block body %}
<div class="container"></div>
 <section class="py-5 text-center container">
            <div class="row py-lg-5">
              <div class="col-lg-6 col-md-8 mx-auto">
                <h1 class="fw-light">Квест-игра</h1>
                <p class="lead text-body-secondary">"В потоках знаний"</p>
                <p>
                  <a href="https://n1ckybtw.github.io/start" class="btn btn-primary my-2" >Начать играть</a>
                  <a href="https://n1ckybtw.github.io/background" class="btn btn-secondary my-2">Предыстория</a>
                </p>
              </div>
            </div>
          </section>
        <div>
        </div>
{% endblock %}