{% extends 'base.html' %}

{% block title %}
О проекте
{% endblock %}

{% block body %}
<div class="container">
</div>
<div class="container">
    <h1> <p class="lead text-body-secondary" align="center">

        <br>
        <br>Первое задание:
        <br>
        <br>Найдите корень уравнения: 8 + 7x = 9x + 4
    </p></h1>
    `<br>
    <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
            <a class="btn btn-warning" href="/defeat" style="position: relative; left: 350px;">-2</a>
          </nav>
    <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
            <a class="btn btn-warning" href="/2" style="position: relative; left: 425px;">2</a>
          </nav>
    <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
            <a class="btn btn-warning" href="/defeat" style="position: relative; left: 500px;">4</a>
          </nav>
    <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
            <a class="btn btn-warning" href="/defeat" style="position: relative; left: 575px;">0.75</a>
          </nav>
</div>
{% endblock %}