{% extends 'base.html' %}

{% block title %}
О проекте
{% endblock %}

{% block body %}
<div class="container">
    <h1> <p class="lead text-body-secondary" align="center">
        Максим был обычным школьником, который жил в большом городе и учился в школе. Он был любознательным, однако не любил некоторые школьные предметы предметы. Однажды, когда он отдыхал, он заметил как страницы учебника перелистывались. Вскоре яркий луч светил прямо в лоб Максиму. Мгновение, и свечения как и не бывало.
        <br>Кажется, что это конец. Но все еще впереди...
    </p></h1>
</div>

</div>
{% endblock %}