{% extends 'base.html' %}

{% block title %}
О проекте
{% endblock %}

{% block body %}
<div class="container">
</div>
<div class="container">
    <h1> <p class="lead text-body-secondary" align="center">

        <br>
        <br>Неверно!
        <br>
        <br>К сожалению, Максим навсегда остается в учебнике
    </p></h1>

    <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
            <a class="btn btn-success" href="/home" style="position: relative; left: 550px;">Да</a>
          </nav>

</div>
{% endblock %}