{% extends 'base.html' %}

{% block title %}
О проекте
{% endblock %}

{% block body %}
<div class="container">
</div>
<div class="container">
    <h1> <p class="lead text-body-secondary" align="center">

        <br>
        <br>Финал.
        <br>
        <br>Максим выбрался из учебника математики и оказался в реальном мире. Он был рад снова оказаться среди своих друзей и родных. Но Максим понимал, что теперь математика стала для него чем-то большим, чем просто школьный предмет.
        <br>
        <br>
        <br>Математика — это не просто набор правил и формул, а целая наука, которая помогает понять окружающий мир.
        <br>С тех пор Максим стал уделять больше внимания урокам математики. Он задавал учителю вопросы, читал дополнительную литературу и решал задачи дома. Вскоре мальчик стал одним из лучших учеников в классе.
        <br>Максим полюбил математику и понял, что она может быть интересной и увлекательной. Он стал участвовать в конкурсах Росатома, где занимал призовые места.
        <br>Так Максим выбрался из учебника математики, полюбил этот предмет и стал жить счастливо. Он понял, что математика — это не просто наука, а ключ к пониманию мира

    </p></h1>
    `<br>
    <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
            <a class="btn btn-warning" href="/home" style="position: relative; left: 500px;">На главную</a>
          </nav>

</div>
{% endblock %}