{% extends 'base.html' %}

{% block title %}
О проекте
{% endblock %}

{% block body %}
<div class="container">
    <h1> <p class="lead text-body-secondary" align="center">В одном городе жил обычный мальчик по имени Максим. Он был любознательным и активным ребёнком, но вот математика ему совсем не давалась. Он считал, что это самый скучный предмет в школе, и старался избегать любых задач и примеров.
Но однажды, когда Максим сидел за столом и делал домашнее задание, его взгляд упал на учебник математики. Неожиданно страницы начали перелистываться сами собой, и мальчик увидел, как из книги вылетел яркий луч света. Он окутал Максима, и в тот же миг мальчик оказался внутри учебника.
    </p> </h1>
    <img src="https://i.ibb.co/LDKqFcH/book.jpg"
    width="800" height="600" align="center" style="position: relative; left: 200px;"
    />
    <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
            <a class="btn btn-warning" href="/tasks" style="position: relative; left: 250px;">Продолжить</a>
          </nav>
</div>
{% endblock %}