{% extends 'base.html' %}

{% block title %}
О проекте
{% endblock %}

{% block body %}
<div class="container">
</div>
<div class="container">
    <h1> <p class="lead text-body-secondary" align="center">

        <br>
        <br>Молодец!
        <br>
        <br>Второе задание:
        <br>
        <br>В параллелограмме ABCD биссектриса угла А, равного 60°, пересекает сторону ВС в точке М. Отрезки АМ и DM перпендикулярны. Найдите периметр параллелограмма, если AB = 6.
    </p></h1>
    `<br>
    <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
            <a class="btn btn-warning" href="/defeat" style="position: relative; left: 300px;">16</a>
          </nav>
    <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
            <a class="btn btn-warning" href="/defeat" style="position: relative; left: 400px;">18</a>
          </nav>
    <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
            <a class="btn btn-warning" href="/defeat" style="position: relative; left: 500px;">24</a>
          </nav>
    <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
            <a class="btn btn-warning" href="/3" style="position: relative; left: 600px;">36</a>
          </nav>
</div>
{% endblock %}