{% extends 'base.html' %}

{% block title %}
О проекте
{% endblock %}

{% block body %}
<div class="container">
</div>
<div class="container">
    <h1> <p class="lead text-body-secondary" align="center">

        <br>
        <br>Финал.
        <br>
        <br>Пятое задание:
        <br>
        <br>Из А в В одновременно выехали два автомобилиста. Первый проехал с постоянной скоростью весь путь. Второй проехал первую половину пути со скоростью 30км/ч, а вторую половину пути проехал со скоростью, большей скорости первого на 9км/ч, в результате чего прибыл в В одновременно с первым автомобилистом. Найдите скорость первого автомобилиста.
    </p></h1>
    `<br>
    <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
            <a class="btn btn-warning" href="/defeat" style="position: relative; left: 300px;">30</a>
          </nav>
    <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
            <a class="btn btn-warning" href="/defeat" style="position: relative; left: 400px;">42</a>
          </nav>
    <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
            <a class="btn btn-warning" href="/final" style="position: relative; left: 500px;">36</a>
          </nav>
    <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
            <a class="btn btn-warning" href="/defeat" style="position: relative; left: 600px;">52</a>
          </nav>
</div>
{% endblock %}