{% extends 'base.html' %}

{% block title %}
О проекте
{% endblock %}

{% block body %}
<div class="container">
</div>
<div class="container">
    <h1> <p class="lead text-body-secondary" align="center">

        <br>
        <br>Умничка! Осталось совсем чуть-чуть!
        <br>
        <br>Третье задание:
        <br>
        <br>Боковая сторона равнобедренного треугольника ABC равна 3, а основание AC равно 2.
В этом треугольнике провели биссектрисы AL и CM. Найдите длину отрезка LM.
    </p></h1>
    `<br>
    <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
            <a class="btn btn-warning" href="/defeat" style="position: relative; left: 300px;">1,5</a>
          </nav>
    <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
            <a class="btn btn-warning" href="/4" style="position: relative; left: 400px;">1,2</a>
          </nav>
    <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
            <a class="btn btn-warning" href="/defeat" style="position: relative; left: 500px;">1,6</a>
          </nav>
    <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
            <a class="btn btn-warning" href="/defeat" style="position: relative; left: 600px;">2</a>
          </nav>
</div>
{% endblock %}