{% extends 'base.html' %}

{% block title %}
О проекте
{% endblock %}

{% block body %}
<div class="container">
    <h1> <p class="lead text-body-secondary" align="center">
        Оказавшись внутри учебника, Максим понял, что попал в мир чисел и задач. Вокруг него были только задачи и уравнения. Мальчик испугался и попытался вернуться обратно, но все его попытки оказались тщетными.
Тогда Максим осознал, что единственный способ выбраться — это решить все задачи, которые встретятся ему на пути. Он начал искать выход из этого мира и постепенно решать попадающиеся ему задачи.
    </p></h1>
</div>
<div class="container">
    <h1> <p class="lead text-body-secondary" align="center">

        <br>
        <br>Ты готов помочь ему?
<nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
            <a class="btn btn-success" href="/1" style="position: relative; left: 450px;">Да</a>
          </nav>
        <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
            <a class="btn btn-danger" href="/home" style="position: relative; left: 550px;">Нет</a>
          </nav>
    </p></h1>
</div>
{% endblock %}